# Ignored files larger than 14.71MB:
# Total repository size: 998.69 MB
# Ignored size: 3.17 GB
# All files size: 4.15 GB
# Ignored files count: 99
# Total files in repository: 108
# All files count: 207

# Ignored file: AIChip/AI Chip - 512x512 - Wires_AI Chip - 512x512 - Wires.json, Size: 78.64 MB
AIChip/AI Chip - 512x512 - Wires_AI Chip - 512x512 - Wires.json
# Ignored file: AIChip/AI Chip Holder_AI Chip Holder.json, Size: 91.74 MB
AIChip/AI Chip Holder_AI Chip Holder.json
# Ignored file: AIChip/AI Chip - 1024x1024 - Wires_AI Chip - 1024x1024 - Wires.json, Size: 202.63 MB
AIChip/AI Chip - 1024x1024 - Wires_AI Chip - 1024x1024 - Wires.json
# Ignored file: AIChip/AIChip Landscape_AIChip Landscape.json, Size: 281.55 MB
AIChip/AIChip Landscape_AIChip Landscape.json
# Ignored file: AIChip/AIChip Portrait_AIChip Portrait.json, Size: 288.08 MB
AIChip/AIChip Portrait_AIChip Portrait.json
# Ignored file: Energy Balls - 256x256/Energy Balls - 256x256 - Full_49.json, Size: 21.18 MB
Energy Balls - 256x256/Energy Balls - 256x256 - Full_49.json
# Ignored file: Energy Balls - 256x256/Energy Balls - 256x256 - Full_50.json, Size: 33.09 MB
Energy Balls - 256x256/Energy Balls - 256x256 - Full_50.json
# Ignored file: Energy Balls - 256x256/Black/Energy Balls - 256x256 - Black_15.json, Size: 24.88 MB
Energy Balls - 256x256/Black/Energy Balls - 256x256 - Black_15.json
# Ignored file: Energy Balls - 256x256/Black/Energy Balls - 256x256 - Black_18.json, Size: 19.29 MB
Energy Balls - 256x256/Black/Energy Balls - 256x256 - Black_18.json
# Ignored file: Energy Balls - 256x256/Black/Energy Balls - 256x256 - Black_2.json, Size: 22.02 MB
Energy Balls - 256x256/Black/Energy Balls - 256x256 - Black_2.json
# Ignored file: Energy Balls - 256x256/Black/Energy Balls - 256x256 - Black_20.json, Size: 23.92 MB
Energy Balls - 256x256/Black/Energy Balls - 256x256 - Black_20.json
# Ignored file: Energy Balls - 256x256/Black/Energy Balls - 256x256 - Black_22.json, Size: 20.69 MB
Energy Balls - 256x256/Black/Energy Balls - 256x256 - Black_22.json
# Ignored file: Energy Balls - 256x256/Black/Energy Balls - 256x256 - Black_23.json, Size: 20.38 MB
Energy Balls - 256x256/Black/Energy Balls - 256x256 - Black_23.json
# Ignored file: Energy Balls - 256x256/Black/Energy Balls - 256x256 - Black_24.json, Size: 20.49 MB
Energy Balls - 256x256/Black/Energy Balls - 256x256 - Black_24.json
# Ignored file: Energy Balls - 256x256/Black/Energy Balls - 256x256 - Black_3.json, Size: 34.57 MB
Energy Balls - 256x256/Black/Energy Balls - 256x256 - Black_3.json
# Ignored file: Energy Balls - 256x256/Black/Energy Balls - 256x256 - Black_30.json, Size: 25.29 MB
Energy Balls - 256x256/Black/Energy Balls - 256x256 - Black_30.json
# Ignored file: Energy Balls - 256x256/Black/Energy Balls - 256x256 - Black_31.json, Size: 15.65 MB
Energy Balls - 256x256/Black/Energy Balls - 256x256 - Black_31.json
# Ignored file: Energy Balls - 256x256/Black/Energy Balls - 256x256 - Black_32.json, Size: 15.39 MB
Energy Balls - 256x256/Black/Energy Balls - 256x256 - Black_32.json
# Ignored file: Energy Balls - 256x256/Black/Energy Balls - 256x256 - Black_36.json, Size: 27.18 MB
Energy Balls - 256x256/Black/Energy Balls - 256x256 - Black_36.json
# Ignored file: Energy Balls - 256x256/Black/Energy Balls - 256x256 - Black_37.json, Size: 26.55 MB
Energy Balls - 256x256/Black/Energy Balls - 256x256 - Black_37.json
# Ignored file: Energy Balls - 256x256/Black/Energy Balls - 256x256 - Black_39.json, Size: 25.57 MB
Energy Balls - 256x256/Black/Energy Balls - 256x256 - Black_39.json
# Ignored file: Energy Balls - 256x256/Black/Energy Balls - 256x256 - Black_43.json, Size: 17.33 MB
Energy Balls - 256x256/Black/Energy Balls - 256x256 - Black_43.json
# Ignored file: Energy Balls - 256x256/Black/Energy Balls - 256x256 - Black_44.json, Size: 31.58 MB
Energy Balls - 256x256/Black/Energy Balls - 256x256 - Black_44.json
# Ignored file: Energy Balls - 256x256/Black/Energy Balls - 256x256 - Black_46.json, Size: 29.39 MB
Energy Balls - 256x256/Black/Energy Balls - 256x256 - Black_46.json
# Ignored file: Energy Balls - 256x256/Black/Energy Balls - 256x256 - Black_47.json, Size: 32.59 MB
Energy Balls - 256x256/Black/Energy Balls - 256x256 - Black_47.json
# Ignored file: Energy Balls - 256x256/Black/Energy Balls - 256x256 - Black_48.json, Size: 14.92 MB
Energy Balls - 256x256/Black/Energy Balls - 256x256 - Black_48.json
# Ignored file: Energy Balls - 256x256/Black/Energy Balls - 256x256 - Black_5.json, Size: 46.89 MB
Energy Balls - 256x256/Black/Energy Balls - 256x256 - Black_5.json
# Ignored file: Energy Balls - 256x256/Green/Energy Balls - 256x256 - Green_12.json, Size: 15.38 MB
Energy Balls - 256x256/Green/Energy Balls - 256x256 - Green_12.json
# Ignored file: Energy Balls - 256x256/Green/Energy Balls - 256x256 - Green_14.json, Size: 14.95 MB
Energy Balls - 256x256/Green/Energy Balls - 256x256 - Green_14.json
# Ignored file: Energy Balls - 256x256/Green/Energy Balls - 256x256 - Green_15.json, Size: 29.37 MB
Energy Balls - 256x256/Green/Energy Balls - 256x256 - Green_15.json
# Ignored file: Energy Balls - 256x256/Green/Energy Balls - 256x256 - Green_18.json, Size: 21.33 MB
Energy Balls - 256x256/Green/Energy Balls - 256x256 - Green_18.json
# Ignored file: Energy Balls - 256x256/Green/Energy Balls - 256x256 - Green_2.json, Size: 22.52 MB
Energy Balls - 256x256/Green/Energy Balls - 256x256 - Green_2.json
# Ignored file: Energy Balls - 256x256/Green/Energy Balls - 256x256 - Green_20.json, Size: 25.01 MB
Energy Balls - 256x256/Green/Energy Balls - 256x256 - Green_20.json
# Ignored file: Energy Balls - 256x256/Green/Energy Balls - 256x256 - Green_22.json, Size: 22.93 MB
Energy Balls - 256x256/Green/Energy Balls - 256x256 - Green_22.json
# Ignored file: Energy Balls - 256x256/Green/Energy Balls - 256x256 - Green_23.json, Size: 22.52 MB
Energy Balls - 256x256/Green/Energy Balls - 256x256 - Green_23.json
# Ignored file: Energy Balls - 256x256/Green/Energy Balls - 256x256 - Green_24.json, Size: 22.51 MB
Energy Balls - 256x256/Green/Energy Balls - 256x256 - Green_24.json
# Ignored file: Energy Balls - 256x256/Green/Energy Balls - 256x256 - Green_25.json, Size: 17.25 MB
Energy Balls - 256x256/Green/Energy Balls - 256x256 - Green_25.json
# Ignored file: Energy Balls - 256x256/Green/Energy Balls - 256x256 - Green_29.json, Size: 14.75 MB
Energy Balls - 256x256/Green/Energy Balls - 256x256 - Green_29.json
# Ignored file: Energy Balls - 256x256/Green/Energy Balls - 256x256 - Green_3.json, Size: 33.04 MB
Energy Balls - 256x256/Green/Energy Balls - 256x256 - Green_3.json
# Ignored file: Energy Balls - 256x256/Green/Energy Balls - 256x256 - Green_30.json, Size: 26.14 MB
Energy Balls - 256x256/Green/Energy Balls - 256x256 - Green_30.json
# Ignored file: Energy Balls - 256x256/Green/Energy Balls - 256x256 - Green_31.json, Size: 16.22 MB
Energy Balls - 256x256/Green/Energy Balls - 256x256 - Green_31.json
# Ignored file: Energy Balls - 256x256/Green/Energy Balls - 256x256 - Green_32.json, Size: 16.06 MB
Energy Balls - 256x256/Green/Energy Balls - 256x256 - Green_32.json
# Ignored file: Energy Balls - 256x256/Green/Energy Balls - 256x256 - Green_36.json, Size: 27.50 MB
Energy Balls - 256x256/Green/Energy Balls - 256x256 - Green_36.json
# Ignored file: Energy Balls - 256x256/Green/Energy Balls - 256x256 - Green_37.json, Size: 27.86 MB
Energy Balls - 256x256/Green/Energy Balls - 256x256 - Green_37.json
# Ignored file: Energy Balls - 256x256/Green/Energy Balls - 256x256 - Green_39.json, Size: 26.42 MB
Energy Balls - 256x256/Green/Energy Balls - 256x256 - Green_39.json
# Ignored file: Energy Balls - 256x256/Green/Energy Balls - 256x256 - Green_43.json, Size: 18.78 MB
Energy Balls - 256x256/Green/Energy Balls - 256x256 - Green_43.json
# Ignored file: Energy Balls - 256x256/Green/Energy Balls - 256x256 - Green_44.json, Size: 35.40 MB
Energy Balls - 256x256/Green/Energy Balls - 256x256 - Green_44.json
# Ignored file: Energy Balls - 256x256/Green/Energy Balls - 256x256 - Green_46.json, Size: 30.34 MB
Energy Balls - 256x256/Green/Energy Balls - 256x256 - Green_46.json
# Ignored file: Energy Balls - 256x256/Green/Energy Balls - 256x256 - Green_47.json, Size: 37.67 MB
Energy Balls - 256x256/Green/Energy Balls - 256x256 - Green_47.json
# Ignored file: Energy Balls - 256x256/Green/Energy Balls - 256x256 - Green_48.json, Size: 14.92 MB
Energy Balls - 256x256/Green/Energy Balls - 256x256 - Green_48.json
# Ignored file: Energy Balls - 256x256/Green/Energy Balls - 256x256 - Green_5.json, Size: 45.86 MB
Energy Balls - 256x256/Green/Energy Balls - 256x256 - Green_5.json
# Ignored file: Energy Balls - 256x256/Red/Energy Balls - 256x256 - Red_12.json, Size: 15.04 MB
Energy Balls - 256x256/Red/Energy Balls - 256x256 - Red_12.json
# Ignored file: Energy Balls - 256x256/Red/Energy Balls - 256x256 - Red_14.json, Size: 14.71 MB
Energy Balls - 256x256/Red/Energy Balls - 256x256 - Red_14.json
# Ignored file: Energy Balls - 256x256/Red/Energy Balls - 256x256 - Red_15.json, Size: 27.50 MB
Energy Balls - 256x256/Red/Energy Balls - 256x256 - Red_15.json
# Ignored file: Energy Balls - 256x256/Red/Energy Balls - 256x256 - Red_18.json, Size: 21.11 MB
Energy Balls - 256x256/Red/Energy Balls - 256x256 - Red_18.json
# Ignored file: Energy Balls - 256x256/Red/Energy Balls - 256x256 - Red_2.json, Size: 22.73 MB
Energy Balls - 256x256/Red/Energy Balls - 256x256 - Red_2.json
# Ignored file: Energy Balls - 256x256/Red/Energy Balls - 256x256 - Red_20.json, Size: 24.90 MB
Energy Balls - 256x256/Red/Energy Balls - 256x256 - Red_20.json
# Ignored file: Energy Balls - 256x256/Red/Energy Balls - 256x256 - Red_22.json, Size: 22.47 MB
Energy Balls - 256x256/Red/Energy Balls - 256x256 - Red_22.json
# Ignored file: Energy Balls - 256x256/Red/Energy Balls - 256x256 - Red_23.json, Size: 22.10 MB
Energy Balls - 256x256/Red/Energy Balls - 256x256 - Red_23.json
# Ignored file: Energy Balls - 256x256/Red/Energy Balls - 256x256 - Red_24.json, Size: 22.27 MB
Energy Balls - 256x256/Red/Energy Balls - 256x256 - Red_24.json
# Ignored file: Energy Balls - 256x256/Red/Energy Balls - 256x256 - Red_25.json, Size: 17.45 MB
Energy Balls - 256x256/Red/Energy Balls - 256x256 - Red_25.json
# Ignored file: Energy Balls - 256x256/Red/Energy Balls - 256x256 - Red_29.json, Size: 14.86 MB
Energy Balls - 256x256/Red/Energy Balls - 256x256 - Red_29.json
# Ignored file: Energy Balls - 256x256/Red/Energy Balls - 256x256 - Red_3.json, Size: 32.56 MB
Energy Balls - 256x256/Red/Energy Balls - 256x256 - Red_3.json
# Ignored file: Energy Balls - 256x256/Red/Energy Balls - 256x256 - Red_30.json, Size: 25.65 MB
Energy Balls - 256x256/Red/Energy Balls - 256x256 - Red_30.json
# Ignored file: Energy Balls - 256x256/Red/Energy Balls - 256x256 - Red_31.json, Size: 16.10 MB
Energy Balls - 256x256/Red/Energy Balls - 256x256 - Red_31.json
# Ignored file: Energy Balls - 256x256/Red/Energy Balls - 256x256 - Red_32.json, Size: 16.25 MB
Energy Balls - 256x256/Red/Energy Balls - 256x256 - Red_32.json
# Ignored file: Energy Balls - 256x256/Red/Energy Balls - 256x256 - Red_36.json, Size: 28.27 MB
Energy Balls - 256x256/Red/Energy Balls - 256x256 - Red_36.json
# Ignored file: Energy Balls - 256x256/Red/Energy Balls - 256x256 - Red_37.json, Size: 28.14 MB
Energy Balls - 256x256/Red/Energy Balls - 256x256 - Red_37.json
# Ignored file: Energy Balls - 256x256/Red/Energy Balls - 256x256 - Red_39.json, Size: 26.18 MB
Energy Balls - 256x256/Red/Energy Balls - 256x256 - Red_39.json
# Ignored file: Energy Balls - 256x256/Red/Energy Balls - 256x256 - Red_43.json, Size: 19.53 MB
Energy Balls - 256x256/Red/Energy Balls - 256x256 - Red_43.json
# Ignored file: Energy Balls - 256x256/Red/Energy Balls - 256x256 - Red_44.json, Size: 35.07 MB
Energy Balls - 256x256/Red/Energy Balls - 256x256 - Red_44.json
# Ignored file: Energy Balls - 256x256/Red/Energy Balls - 256x256 - Red_46.json, Size: 30.43 MB
Energy Balls - 256x256/Red/Energy Balls - 256x256 - Red_46.json
# Ignored file: Energy Balls - 256x256/Red/Energy Balls - 256x256 - Red_47.json, Size: 35.83 MB
Energy Balls - 256x256/Red/Energy Balls - 256x256 - Red_47.json
# Ignored file: Energy Balls - 256x256/Red/Energy Balls - 256x256 - Red_48.json, Size: 14.91 MB
Energy Balls - 256x256/Red/Energy Balls - 256x256 - Red_48.json
# Ignored file: Energy Balls - 256x256/Red/Energy Balls - 256x256 - Red_5.json, Size: 45.46 MB
Energy Balls - 256x256/Red/Energy Balls - 256x256 - Red_5.json
# Ignored file: Energy Balls - 256x256/White/Energy Balls - 256x256 - White_12.json, Size: 15.40 MB
Energy Balls - 256x256/White/Energy Balls - 256x256 - White_12.json
# Ignored file: Energy Balls - 256x256/White/Energy Balls - 256x256 - White_14.json, Size: 14.94 MB
Energy Balls - 256x256/White/Energy Balls - 256x256 - White_14.json
# Ignored file: Energy Balls - 256x256/White/Energy Balls - 256x256 - White_15.json, Size: 29.68 MB
Energy Balls - 256x256/White/Energy Balls - 256x256 - White_15.json
# Ignored file: Energy Balls - 256x256/White/Energy Balls - 256x256 - White_18.json, Size: 21.17 MB
Energy Balls - 256x256/White/Energy Balls - 256x256 - White_18.json
# Ignored file: Energy Balls - 256x256/White/Energy Balls - 256x256 - White_2.json, Size: 22.55 MB
Energy Balls - 256x256/White/Energy Balls - 256x256 - White_2.json
# Ignored file: Energy Balls - 256x256/White/Energy Balls - 256x256 - White_20.json, Size: 24.67 MB
Energy Balls - 256x256/White/Energy Balls - 256x256 - White_20.json
# Ignored file: Energy Balls - 256x256/White/Energy Balls - 256x256 - White_22.json, Size: 23.16 MB
Energy Balls - 256x256/White/Energy Balls - 256x256 - White_22.json
# Ignored file: Energy Balls - 256x256/White/Energy Balls - 256x256 - White_23.json, Size: 22.49 MB
Energy Balls - 256x256/White/Energy Balls - 256x256 - White_23.json
# Ignored file: Energy Balls - 256x256/White/Energy Balls - 256x256 - White_24.json, Size: 22.69 MB
Energy Balls - 256x256/White/Energy Balls - 256x256 - White_24.json
# Ignored file: Energy Balls - 256x256/White/Energy Balls - 256x256 - White_25.json, Size: 17.28 MB
Energy Balls - 256x256/White/Energy Balls - 256x256 - White_25.json
# Ignored file: Energy Balls - 256x256/White/Energy Balls - 256x256 - White_29.json, Size: 14.73 MB
Energy Balls - 256x256/White/Energy Balls - 256x256 - White_29.json
# Ignored file: Energy Balls - 256x256/White/Energy Balls - 256x256 - White_3.json, Size: 33.80 MB
Energy Balls - 256x256/White/Energy Balls - 256x256 - White_3.json
# Ignored file: Energy Balls - 256x256/White/Energy Balls - 256x256 - White_30.json, Size: 28.02 MB
Energy Balls - 256x256/White/Energy Balls - 256x256 - White_30.json
# Ignored file: Energy Balls - 256x256/White/Energy Balls - 256x256 - White_31.json, Size: 15.96 MB
Energy Balls - 256x256/White/Energy Balls - 256x256 - White_31.json
# Ignored file: Energy Balls - 256x256/White/Energy Balls - 256x256 - White_32.json, Size: 16.04 MB
Energy Balls - 256x256/White/Energy Balls - 256x256 - White_32.json
# Ignored file: Energy Balls - 256x256/White/Energy Balls - 256x256 - White_36.json, Size: 29.51 MB
Energy Balls - 256x256/White/Energy Balls - 256x256 - White_36.json
# Ignored file: Energy Balls - 256x256/White/Energy Balls - 256x256 - White_37.json, Size: 30.19 MB
Energy Balls - 256x256/White/Energy Balls - 256x256 - White_37.json
# Ignored file: Energy Balls - 256x256/White/Energy Balls - 256x256 - White_39.json, Size: 27.47 MB
Energy Balls - 256x256/White/Energy Balls - 256x256 - White_39.json
# Ignored file: Energy Balls - 256x256/White/Energy Balls - 256x256 - White_43.json, Size: 18.05 MB
Energy Balls - 256x256/White/Energy Balls - 256x256 - White_43.json
# Ignored file: Energy Balls - 256x256/White/Energy Balls - 256x256 - White_44.json, Size: 34.22 MB
Energy Balls - 256x256/White/Energy Balls - 256x256 - White_44.json
# Ignored file: Energy Balls - 256x256/White/Energy Balls - 256x256 - White_46.json, Size: 31.02 MB
Energy Balls - 256x256/White/Energy Balls - 256x256 - White_46.json
# Ignored file: Energy Balls - 256x256/White/Energy Balls - 256x256 - White_47.json, Size: 40.01 MB
Energy Balls - 256x256/White/Energy Balls - 256x256 - White_47.json
# Ignored file: Energy Balls - 256x256/White/Energy Balls - 256x256 - White_48.json, Size: 14.92 MB
Energy Balls - 256x256/White/Energy Balls - 256x256 - White_48.json
# Ignored file: Energy Balls - 256x256/White/Energy Balls - 256x256 - White_5.json, Size: 46.24 MB
Energy Balls - 256x256/White/Energy Balls - 256x256 - White_5.json
